version: "3.8"

services:
  frontend:
    container_name: "core_frontend"
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    networks:
      - calicocore

  backend:
    container_name: "core_backend"
    build:
      context: ./Backend
    ports:
      - "8081:8081"
    depends_on:
      - frontend
    networks:
      - calicocore