.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.bg-discord-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(114 137 218 / var(--tw-bg-opacity));
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.business {
  background-color: #f0f0f0;
}

.content {
  display: flex;
  height: 100%; 
  direction: ltr;
}

.test {
  display: block;
}

.sidebar-container {
    margin-right: 15px; /* Adjust the value as needed */
}