.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.bg-discord-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(114 137 218 / var(--tw-bg-opacity));
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.business {
  background-color: #f0f0f0;
}

.content {
  margin-top: 40px;
  margin-left: 250px;
  padding: 20px;
}

.test {
  display: block;
}

.sidebar-container {
  margin-right: 15px; /* Adjust the value as needed */
}

.topNav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidenav {
  position: fixed;
  top: 64px; /* Adjust based on the height of your TopBar */
  left: 0;
  width: 250px; /* Adjust the width as needed */
  height: calc(100% - 64px); /* Adjust based on the height of your TopBar */
  overflow-y: auto;
  background-color: rgb(249, 249, 249, 0.7); /* Optional: Set a background color */
  z-index: 999; /* Ensure it stays on top of other content */
  /* box-shadow: 2px 0 1px rgba(0, 0, 0, 0.1); */
  overflow-x: hidden;
}

.dashboard-button {
  margin: 10px; /* Adjust the value as needed */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.home-container img {
  margin-bottom: 20px; /* Space between the icon and the text */
}

.home-container h1 {
  margin-bottom: 20px; /* Space between the text and the button */
}

.menu {
  padding-top: 15px;
}