@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0.1) 6%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.90)), 
    url('/background.png');
  background-attachment: fixed;
  height: 100vh;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.bg-discord-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(114 137 218 / var(--tw-bg-opacity));
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.business {
  background-color: #f0f0f0;
}

.content {
  margin-top: 40px;
  margin-left: 250px;
  padding: 20px;
}

.test {
  display: block;
}

.sidebar-container {
  margin-right: 15px; /* Adjust the value as needed */
}

.topNav {
  width: 100%;
  position: fixed;
  top: 0; /*These do actually need to be here, to pin them on top*/
  left: 0; /*These do actually need to be here, to pin them on top*/
  z-index: 1000;
}

.sidenav {
  position: fixed;
  top: 64px; /* Adjust based on the height of your TopBar */
  left: 0;
  width: 250px; /* Adjust the width as needed */
  height: calc(100% - 64px); /* Adjust based on the height of your TopBar */
  overflow-y: auto;
  background-color: rgb(249, 249, 249, 0); /* Background color of the back of the sidebar */
  z-index: 999; /* Ensure it stays on top of other content */
  /* box-shadow: 2px 0 1px rgba(0, 0, 0, 0.1); */
  overflow-x: hidden;
  padding-top: 10px; /* Add padding to the top to create space */
}

.connect-button {
  display: block;
  width: calc(100% - 20px); /* Adjust width to account for the padding */
  margin: 0 auto; /* Center the button horizontally */
  padding: 10px; /* 10px padding on all sides */
  background-color: transparent; /* Transparent center */
  color: #007bff; /* Blue text color */
  border: 4px solid #007bff; /* Blue border */
  border-radius: 10px; /* Round the corners */
  cursor: pointer;
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the font bold */
}

.dashboard-buttons {
    display: flex;
    flex-direction: row; /* Align buttons horizontally */
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Add space between the buttons */
    background-color: rgba(0,0,0,0);
    padding-bottom: 90px;
    padding-top: 10px;
}

.dashboard-button-container {
    display: flex;
    flex-direction: column; /* Stack button and text vertically */
    align-items: center;
}

.dashboard-button {
    display: flex;
    flex-direction: column; /* Stack icon above text */
    align-items: center;
    justify-content: center; /* Center content within the button */
    width: 100px; /* Fixed width */
    height: 100px; /* Fixed height */
    text-transform: none;
    padding: 15px; /* Adjust padding accordingly */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.dashboard-button-icon {
    font-size: 2rem; /* Adjust the size as needed */
    margin-bottom: 8px; /* Adjust margin accordingly */
}

.dashboard-button-text {
    font-size: 0.75rem; /* Adjust the size as needed */
    margin-top: 8px; /* Add margin to separate text from button */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
  background-image: url('/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

.home-container img {
  margin-bottom: 0px; /* Space between the icon and the text */
}

.home-container h1 {
  margin-top: 1px;
  margin-bottom: 0px; /* Space between the text and the button */
  font-family: 'Playfair Display', serif; /* Apply Playfair Display font */
  color: white;
}

.login {
  background-image: url('/bgPanel2.png');
  height: 55vh;
  width: 50vh;
  background-size: 100% 100%;
}

.menu {
  background-color: rgba(255, 255, 255, 0); /* Background color with transparency */
}

.menu-item {
  background-color: rgba(255, 255, 255, 0); /* Background color with transparency */
}

.discordButton {
  background-color: #5865F2;
}

.dashboard {
  margin-top: 40px;
  margin-left: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.businessgrid {
  margin-top: 40px;
  margin-left: 250px;
  padding: 20px;
}

.business-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.accountInfo-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.marker {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
